.heading{
    color:white;
    font-family: sofia;
}
body{
    background-image: linear-gradient(red, yellow);
}

/*NAVBAR STARTS*/
.navbar{
    display:flex;
    background-color:orangered;
    list-style-type: none;
   
}

.navbar a {
    padding: 20px 20px;
    color:white;
    text-decoration: none;
    text-align: center;
    border-right: 2px solid white;
    display:inline-block;
    
    
  }
  .navbar a:hover{
    background-color:#fa9a5f;
      color: white;
  }
  .about{
      justify-content:flex-end;
  }
  
  .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
  }
  
   .dropdown:hover .dropbtn {
    background-color: #fa9a5f;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    min-width: 140px;
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: orange;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color:orangered;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /*NAVBAR ENDS*/
  .p1{
      font-family:  sofia ;
      font-size: 20px;
      color: white;
  }

  
 .gallery {
    margin: 20px;
    border: 1px solid #ccc;
    float: left;
    max-width: 350px;
    color:black;
    font-family:  sofia ;
    height:300px;
  }
  
  .gallery:hover {
    border: 2px solid grey;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
  }
  
 .description {
    padding: 15px;
    text-align: center;
  }
  .footer{
    background-color: grey;
    text-align: center;
    padding: 10px;
  }
  